# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Temporary files
*.log
*.tmp

# Build directories
build/
bin/

# Dependency directories
vendor/
.gomodcache/

# Editor and IDE settings
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
.dockerignore

# Go mod and sum lock files (only ignore `go.sum` if not required)
go.sum

# Testing cache
*.cover
testdata/

# Git hooks
.hooks/
